# --------------------------------------------------------------------
#   Project Build Folders
# --------------------------------------------------------------------

bin/
build/
test/log/
test/out/

# --------------------------------------------------------------------
#   C++ Compiled Object files
# --------------------------------------------------------------------

*.slo
*.lo
*.o
*.obj

# --------------------------------------------------------------------
#   C++ Precompiled Headers
# --------------------------------------------------------------------

*.gch
*.pch

# --------------------------------------------------------------------
#   C++ Compiled Dynamic Libraries
# --------------------------------------------------------------------

*.so
*.dylib
*.dll

# --------------------------------------------------------------------
#   C++ Compiled Static Libraries
# --------------------------------------------------------------------

*.lai
*.la
*.a
*.lib

# --------------------------------------------------------------------
#   Executables
# --------------------------------------------------------------------

*.exe
*.out
*.app

# --------------------------------------------------------------------
#   Misc
# --------------------------------------------------------------------

.*
*~
*.swp
TODO
extern/
