[submodule "libs/genesis"]
	path = libs/genesis
	url = https://github.com/lczech/genesis.git
[submodule "libs/CLI11"]
	path = libs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "libs/sparsepp"]
	path = libs/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
